@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-verde1: #173626; 
  --color-verde2: #1A472A ;
  --color-verde3: #2D5A3C ;
  --color-verde-apagado: #224433;
  --color-verdetrans: #B5D7BA;
  --color-verdeinvisible: #E3E7E3;

  --color-amarillo: #D99726 ;
  --color-amarillotrans: #F5E3C1;

  --color-rojo2: #D36D6D;
  --color-rojovino: #713434 ;
  --color-rojotrans: #F3C2BA ;

  --color-azul1: #074776 ;
  --color-azultrans: #C3CBF2 ;

  --color-beige1: #F5F4EF ;
  --color-beige2: #F9F8F6 ;

  --color-menta: #CED4D0 ;
  
  --color-borde1: #CCCBC7 ;
  --color-borde2: #F0EEE8 ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cardTour:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.cardTour {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}